<div class="container flex-col">
  <div class="splash">
    <div class="splash__logo">
      <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" alt="" loading="lazy" />
    </div>
    <div class="splash__links">
      <a href="https://mdbootstrap.com/docs/standard/" target="_blank" class="btn btn-primary">Documentation</a>
      <a href="https://mdbootstrap.com/docs/standard/getting-started/quick-start/" target="_blank" class="btn btn-primary">Quick start</a>
    </div>
  </div>
</div>
