<div class="flex flex-col">
<% if current_user %>
  <% user_categories_path(current_user.id) %>
<% else %>
  <div class="flex text-center justify-center">
    <div class="logo">
      <%= image_tag("logo.png", size: "200x200", alt: "Edit Entry", class: "mt-4 animate-pulse") %>
    </div>
  </div>
  <div class="flex space-x-4 justify-center mt-[200px]">
     <%= link_to "Login", new_user_session_path, class: "inline-block px-10 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
     <%= link_to "Singup", new_user_registration_path, class: "inline-block px-10 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
  </div>
  
</div>
<% end %>
