<%= form_with model: @post, local: true, url: "#{action_name == 'edit' ? user_category_post_path : user_category_posts_path }", data: { turbo_method: :post }, data: { turbo_scope: :post } do |f| %>
    <div class="mb-6 m-4">
      <label for="Post Title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category Title</label>
      <%= f.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="mb-6 m-4">
      <label for="Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
      <%= f.rich_text_area :desc, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
     <%= f.submit "#{action_name == 'edit' ? 'Update Postt': 'Add New Post'}", class: "m-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
<% end %>