<div class="container flex flex-col space-y-2">
    <div class="mb-6 m-4">
        <div class="container flex flex-row text-center justify-center font-bold text-lg m-4"> <h1><%= @post.title %></h1> </div>
        <div class="contianer flex flex-col text-right"><%= @post.desc%></div>
    </div>
</div>